<a href="https://colab.research.google.com/github/kristenvonbecker/sql_projects/blob/main/Intro_to_SQLite/Intro_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## 1. Preparation

Set up a connection to our sample database, Northwind DB:

In [1]:
# download Northwind SQLite DB
!wget https://tdmdal.github.io/mma-sql-2021/data/northwind.sqlite3

--2024-02-15 12:00:14--  https://tdmdal.github.io/mma-sql-2021/data/northwind.sqlite3
Resolving tdmdal.github.io (tdmdal.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to tdmdal.github.io (tdmdal.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 804864 (786K) [application/octet-stream]
Saving to: ‘northwind.sqlite3’

northwind.sqlite3   100%[===================>] 786.00K  4.68MB/s    in 0.2s

2024-02-15 12:00:15 (4.68 MB/s) - ‘northwind.sqlite3’ saved [804864/804864]

In [2]:
# load the SQL magic extension
%load_ext sql

# use the magic extension to connect to our SQLite DB
%sql sqlite:///northwind.sqlite3

Get database engine.

In [3]:
%%sql
SELECT sqlite_version();

 * sqlite:///northwind.sqlite3
Done.

[('3.37.2',)]

## 2. A quick look at Northwind DB

### Get a list of tables

In [4]:
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

 * sqlite:///northwind.sqlite3
Done.

[('Suppliers',),
 ('Shippers',),
 ('Employees',),
 ('Customers',),
 ('Orders',),
 ('Categories',),
 ('Products',),
 ('OrderDetails',)]

### Get column names and types

For the `Categories` table:

In [5]:
%sql PRAGMA table_info([Categories]);

 * sqlite:///northwind.sqlite3
Done.

[(0, 'CategoryID', 'INTEGER', 1, None, 1),
 (1, 'CategoryName', 'nvarchar(15)', 1, None, 0),
 (2, 'Description', 'ntext', 0, None, 0),
 (3, 'Picture', 'image', 0, None, 0)]

### Get keys and foreign keys

In particular, for the `Orders` table:

In [6]:
%%sql
-- find out relationships between tables using SQL command
SELECT sql
FROM sqlite_master
WHERE name = "Orders"

 * sqlite:///northwind.sqlite3
Done.

[('CREATE TABLE [Orders] (\n  [OrderID] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL\n, [CustomerID] nchar(5) NOT NULL COLLATE NOCASE\n, [EmployeeID] int  ... (719 characters truncated) ... E NO ACTION\n, CONSTRAINT [FK_Orders_Shippers] FOREIGN KEY ([ShipVia]) REFERENCES [Shippers] ([ShipperID]) ON DELETE NO ACTION ON UPDATE NO ACTION\n)',)]

# Exercises

## Part 1. Warm-up

### Ex.1 Get a list of categories.

Display `CategoryName` and `Description` in the `Categories` table.

In [7]:
%%sql
-- start your code here

SELECT CategoryName, Description FROM Categories;

 * sqlite:///northwind.sqlite3
Done.

[('Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 ('Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 ('Confections', 'Desserts, candies, and sweet breads'),
 ('Dairy Products', 'Cheeses'),
 ('Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 ('Meat/Poultry', 'Prepared meats'),
 ('Produce', 'Dried fruit and bean curd'),
 ('Seafood', 'Seaweed and fish')]

### Ex.2 Get a list of shippers.

In [10]:
%%sql
-- start your code here

SELECT CompanyName FROM Shippers;

 * sqlite:///northwind.sqlite3
Done.

[('Speedy Express',), ('United Package',), ('Federal Shipping',)]

### Ex.3 Find names and hire dates of all US sales representatives.

The resulting table should display `FirstName`, `LastName`, `HireDate`, `Title` and `Country`.

In [11]:
%%sql
-- start your code here

SELECT EmployeeID, FirstName, LastName, HireDate, Country
FROM Employees
WHERE Title = 'Sales Representative' AND Country = 'USA'

 * sqlite:///northwind.sqlite3
Done.

[(1, 'Nancy', 'Davolio', '2010-05-01 00:00:00.000', 'USA'),
 (3, 'Janet', 'Leverling', '2010-04-01 00:00:00.000', 'USA'),
 (4, 'Margaret', 'Peacock', '2011-05-03 00:00:00.000', 'USA')]

### Ex.4 Find supplier contacts who are *not* marketing managers.

Display `supplierID`, `ContactNames` and `ContactTitle` for those whose `ContactTitle` is *not* Marketing Manager.

In [12]:
%%sql
-- start your code here

SELECT SupplierID, ContactName, ContactTitle
FROM suppliers
WHERE NOT ContactTitle = 'Marketing Manager'
LIMIT 10

 * sqlite:///northwind.sqlite3
Done.

[(1, 'Charlotte Cooper', 'Purchasing Manager'),
 (2, 'Shelley Burke', 'Order Administrator'),
 (3, 'Regina Murphy', 'Sales Representative'),
 (5, 'Antonio del Valle Saavedra', 'Export Administrator'),
 (6, 'Mayumi Ohno', 'Marketing Representative'),
 (8, 'Peter Wilson', 'Sales Representative'),
 (9, 'Lars Peterson', 'Sales Agent'),
 (11, 'Petra Winkler', 'Sales Manager'),
 (12, 'Martin Bein', 'International Marketing Mgr.'),
 (13, 'Sven Petersen', 'Coordinator Foreign Markets')]

### Ex.5 Find products with "Chef" in its name.

Include the `ProductName` and `ProductName`.

In [15]:
%%sql
-- start your code here

SELECT ProductID, ProductName
FROM Products
WHERE ProductName LIKE '%Chef%'

 * sqlite:///northwind.sqlite3
Done.

[(4, "Chef Anton's Cajun Seasoning"), (5, "Chef Anton's Gumbo Mix")]

### Ex.6 Find all orders shipping to Canada, Mexico or USA.

Get all fields from `Orders`.

In [16]:
%%sql
-- start your code here

SELECT *
FROM Orders
WHERE ShipCountry IN ('Canada', 'Mexico', 'USA')
LIMIT 10

 * sqlite:///northwind.sqlite3
Done.

[(10259, 'CENTC', 4, '2014-07-18 16:00:00.000', '2014-08-15 00:00:00.000', '2014-07-25 00:00:00.000', 3, 3.25, 'Centro comercial Moctezuma', 'Sierras de Granada 9993', 'México D.F.', None, '05022', 'Mexico'),
 (10262, 'RATTC', 8, '2014-07-22 19:00:00.000', '2014-08-19 00:00:00.000', '2014-07-25 00:00:00.000', 3, 48.29, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA'),
 (10269, 'WHITC', 5, '2014-07-31 00:00:00.000', '2014-08-14 00:00:00.000', '2014-08-09 00:00:00.000', 1, 4.56, 'White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', 'WA', '98124', 'USA'),
 (10271, 'SPLIR', 6, '2014-08-01 05:00:00.000', '2014-08-29 00:00:00.000', '2014-08-30 00:00:00.000', 2, 4.54, 'Split Rail Beer & Ale', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA'),
 (10272, 'RATTC', 6, '2014-08-02 03:00:00.000', '2014-08-30 00:00:00.000', '2014-08-06 00:00:00.000', 2, 98.03, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA'),
 (10276, 'TORTU', 8, '2014-08-08 18:00:00.000', '2014-08-22 00:00:00.000', '2014-08-14 00:00:00.000', 3, 13.84, 'Tortuga Restaurante', 'Avda. Azteca 123', 'México D.F.', None, '05033', 'Mexico'),
 (10293, 'TORTU', 1, '2014-08-29 15:00:00.000', '2014-09-26 00:00:00.000', '2014-09-11 00:00:00.000', 3, 21.18, 'Tortuga Restaurante', 'Avda. Azteca 123', 'México D.F.', None, '05033', 'Mexico'),
 (10294, 'RATTC', 4, '2014-08-30 05:00:00.000', '2014-09-27 00:00:00.000', '2014-09-05 00:00:00.000', 2, 147.26, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA'),
 (10304, 'TORTU', 1, '2014-09-12 06:00:00.000', '2014-10-10 00:00:00.000', '2014-09-17 00:00:00.000', 2, 63.79, 'Tortuga Restaurante', 'Avda. Azteca 123', 'México D.F.', None, '05033', 'Mexico'),
 (10305, 'OLDWO', 8, '2014-09-13 20:00:00.000', '2014-10-11 00:00:00.000', '2014-10-09 00:00:00.000', 3, 257.62, 'Old World Delicatessen', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'USA')]

### Ex.7 Who is the oldest employee?

Display `FirstName`, `LastName`, `Title`, and birth date, ordered by birth date. Show only the date portion of the `BirthDate` column/field (YYYY-MM-DD).

In [17]:
%%sql
-- start your code here
SELECT FirstName, LastName, Title, DATE(BirthDate) AS Birthday
FROM Employees
ORDER BY BirthDate

 * sqlite:///northwind.sqlite3
Done.

[('Margaret', 'Peacock', 'Sales Representative', '1955-09-19'),
 ('Nancy', 'Davolio', 'Sales Representative', '1966-12-08'),
 ('Andrew', 'Fuller', 'Vice President, Sales', '1970-02-19'),
 ('Steven', 'Buchanan', 'Sales Manager', '1973-03-04'),
 ('Laura', 'Callahan', 'Inside Sales Coordinator', '1976-01-09'),
 ('Robert', 'King', 'Sales Representative', '1978-05-29'),
 ('Michael', 'Suyama', 'Sales Representative', '1981-07-02'),
 ('Janet', 'Leverling', 'Sales Representative', '1981-08-30'),
 ('Anne', 'Dodsworth', 'Sales Representative', '1984-01-27')]

In [18]:
%%sql
SELECT EmployeeID, FirstName, LastName, MIN(BirthDate)
FROM Employees

 * sqlite:///northwind.sqlite3
Done.

[(4, 'Margaret', 'Peacock', '1955-09-19 00:00:00.000')]

### Ex.8 Show employee full names.

Show the `FirstName` and `LastName` columns from the `Employees` table, and then create a new column called `FullName`, showing first name and last name joined together in one column in a format like "DAVOLIO, Nancy".

In [19]:
%%sql
-- start your code here

SELECT UPPER(LastName) || ', ' || FirstName AS FullName
FROM Employees
LIMIT 10

 * sqlite:///northwind.sqlite3
Done.

[('DAVOLIO, Nancy',),
 ('FULLER, Andrew',),
 ('LEVERLING, Janet',),
 ('PEACOCK, Margaret',),
 ('BUCHANAN, Steven',),
 ('SUYAMA, Michael',),
 ('KING, Robert',),
 ('CALLAHAN, Laura',),
 ('DODSWORTH, Anne',)]

### Ex.9 Which order items have total sales above $12,000?

In the `OrderDetails` table, we have the columns `UnitPrice` and `Quantity`. Create a new column, `TotalPrice`, that multiplies these two (ignore the `Discount` column). Display `OrderID`, `ProductID`, `UnitPrice`, `Quantity` and `TotalPrice`. Order the result first by `ProductID` (ascending) and then by `TotalPrice` (descending).

Note that the question asks about order items (not orders). One order may contain multiple items/products. An order item is identified by the `OrderID` and `ProductID` columns.

In [20]:
%%sql
-- start your code here

SELECT OrderID, ProductID, SUM(UnitPrice * Quantity) AS TotalPrice
FROM OrderDetails
GROUP BY OrderID, ProductID
HAVING TotalPrice > 12000
ORDER BY TotalPrice DESC

 * sqlite:///northwind.sqlite3
Done.

[(10865, 38, 15810.0), (10981, 38, 15810.0)]

### Ex.10 Show all products that need reordering.

A product need reordering if `UnitsInStock + UnitsOnOrder <= ReorderLevel` and `Discontinued = 0`. In your result, display `ProductID`, `ProductName`, `UnitsInStock`, `UnitsOnOrder`, `ReorderLevel`, and `Discontinued`.

In [21]:
%%sql
-- start your code here

SELECT ProductID, ProductName, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
FROM Products
WHERE UnitsInStock + UnitsOnOrder <= ReorderLevel AND Discontinued = 0

 * sqlite:///northwind.sqlite3
Done.

[(30, 'Nord-Ost Matjeshering', 10, 0, 15, 0),
 (70, 'Outback Lager', 15, 10, 30, 0)]

## Part 2. Summarize and Group Data

### Ex.11 Count total number of order items. Get their minimum, maximum and average price.

Note that the question asks about order items (not orders). One order may contain multiple items/products. An order item is identified by `OrderID` and `ProductID`.

In [22]:
%%sql
-- start your code here

SELECT SUM(Counts) as Num, MIN(TotalPrice) as Min, MAX(TotalPrice) as Max, ROUND(AVG(TotalPrice), 2) as Avg
FROM (SELECT OrderID, ProductID, COUNT(*) AS Counts, SUM(UnitPrice * Quantity) AS TotalPrice FROM OrderDetails GROUP BY OrderID, ProductID)

 * sqlite:///northwind.sqlite3
Done.

[(2155, 4.8, 15810.0, 628.81)]

### Ex. 12 How many customers do we have for each contact title?

Order the result by the count of contact titles.

In [23]:
%%sql
-- start your code here

SELECT ContactTitle, COUNT(CustomerID) AS Count
FROM Customers
GROUP BY ContactTitle
ORDER BY Count DESC

 * sqlite:///northwind.sqlite3
Done.

[('Sales Representative', 17),
 ('Owner', 17),
 ('Marketing Manager', 12),
 ('Sales Manager', 11),
 ('Accounting Manager', 10),
 ('Sales Associate', 7),
 ('Marketing Assistant', 6),
 ('Sales Agent', 5),
 ('Order Administrator', 2),
 ('Assistant Sales Agent', 2),
 ('Owner/Marketing Assistant', 1),
 ('Assistant Sales Representative', 1)]

### Ex.13 Find total number of customers per country and city.

In [24]:
%%sql
-- start your code here

SELECT Country, City, COUNT(CustomerID) AS Count
FROM Customers
GROUP BY Country, City

 * sqlite:///northwind.sqlite3
Done.

[('Argentina', 'Buenos Aires', 3),
 ('Austria', 'Graz', 1),
 ('Austria', 'Salzburg', 1),
 ('Belgium', 'Bruxelles', 1),
 ('Belgium', 'Charleroi', 1),
 ('Brazil', 'Campinas', 1),
 ('Brazil', 'Resende', 1),
 ('Brazil', 'Rio de Janeiro', 3),
 ('Brazil', 'Sao Paulo', 4),
 ('Canada', 'Montréal', 1),
 ('Canada', 'Tsawassen', 1),
 ('Canada', 'Vancouver', 1),
 ('Denmark', 'Kobenhavn', 1),
 ('Denmark', 'Århus', 1),
 ('Finland', 'Helsinki', 1),
 ('Finland', 'Oulu', 1),
 ('France', 'Lille', 1),
 ('France', 'Lyon', 1),
 ('France', 'Marseille', 1),
 ('France', 'Nantes', 2),
 ('France', 'Paris', 2),
 ('France', 'Reims', 1),
 ('France', 'Strasbourg', 1),
 ('France', 'Toulouse', 1),
 ('France', 'Versailles', 1),
 ('Germany', 'Aachen', 1),
 ('Germany', 'Berlin', 1),
 ('Germany', 'Brandenburg', 1),
 ('Germany', 'Cunewalde', 1),
 ('Germany', 'Frankfurt a.M.', 1),
 ('Germany', 'Köln', 1),
 ('Germany', 'Leipzig', 1),
 ('Germany', 'Mannheim', 1),
 ('Germany', 'München', 1),
 ('Germany', 'Münster', 1),
 ('Germany', 'Stuttgart', 1),
 ('Ireland', 'Cork', 1),
 ('Italy', 'Bergamo', 1),
 ('Italy', 'Reggio Emilia', 1),
 ('Italy', 'Torino', 1),
 ('Mexico', 'México D.F.', 5),
 ('Norway', 'Stavern', 1),
 ('Poland', 'Warszawa', 1),
 ('Portugal', 'Lisboa', 2),
 ('Spain', 'Barcelona', 1),
 ('Spain', 'Madrid', 3),
 ('Spain', 'Sevilla', 1),
 ('Sweden', 'Bräcke', 1),
 ('Sweden', 'Luleå', 1),
 ('Switzerland', 'Bern', 1),
 ('Switzerland', 'Genève', 1),
 ('UK', 'Cowes', 1),
 ('UK', 'London', 6),
 ('USA', 'Albuquerque', 1),
 ('USA', 'Anchorage', 1),
 ('USA', 'Boise', 1),
 ('USA', 'Butte', 1),
 ('USA', 'Elgin', 1),
 ('USA', 'Eugene', 1),
 ('USA', 'Kirkland', 1),
 ('USA', 'Lander', 1),
 ('USA', 'Portland', 2),
 ('USA', 'San Francisco', 1),
 ('USA', 'Seattle', 1),
 ('USA', 'Walla Walla', 1),
 ('Venezuela', 'Barquisimeto', 1),
 ('Venezuela', 'Caracas', 1),
 ('Venezuela', 'I. de Margarita', 1),
 ('Venezuela', 'San Cristóbal', 1)]

### Ex.14 Show all orders with values greater than $12,000.

Ignore the `Discount`. Contrast this question to Ex.9.

In [25]:
%%sql
-- start your code here

SELECT OrderID, ROUND(SUM(UnitPrice * Quantity), 2) AS TotalPrice
FROM OrderDetails
GROUP BY OrderID
HAVING TotalPrice > 12000
ORDER BY TotalPrice DESC

 * sqlite:///northwind.sqlite3
Done.

[(10865, 17250.0), (11030, 16321.9), (10981, 15810.0), (10372, 12281.2)]

### Ex.15 Find top three countries with the highest average freight charges for the last 12 months.

"The last 12 months" is with respect to the last `OrderDate` in the `Orders` table.

In [26]:
%%sql
-- start your code here

SELECT ShipCountry, ROUND(AVG(Freight), 2) AS AvgCharge
FROM Orders
WHERE OrderDate >= date((SELECT MAX(OrderDate) FROM Orders), '-12 months')
GROUP BY ShipCountry
ORDER BY AvgCharge DESC
LIMIT 3

 * sqlite:///northwind.sqlite3
Done.

[('Ireland', 200.21), ('Austria', 186.46), ('USA', 117.97)]

## Part 3. Join Tables

### Ex.16 Show products and their associated suppliers.

Display the `ProductID`, `ProductName`, and the `CompanyName` of the Supplier. Sort by `ProductID`.

A. Use the `WHERE` keyword.

In [27]:
%%sql
-- start your code here

SELECT ProductID, ProductName, CompanyName
FROM Products, Suppliers
WHERE Products.SupplierID = Suppliers.SupplierID
ORDER BY ProductID
LIMIT 20

 * sqlite:///northwind.sqlite3
Done.

[(1, 'Chai', 'Exotic Liquids'),
 (2, 'Chang', 'Exotic Liquids'),
 (3, 'Aniseed Syrup', 'Exotic Liquids'),
 (4, "Chef Anton's Cajun Seasoning", 'New Orleans Cajun Delights'),
 (5, "Chef Anton's Gumbo Mix", 'New Orleans Cajun Delights'),
 (6, "Grandma's Boysenberry Spread", "Grandma Kelly's Homestead"),
 (7, "Uncle Bob's Organic Dried Pears", "Grandma Kelly's Homestead"),
 (8, 'Northwoods Cranberry Sauce', "Grandma Kelly's Homestead"),
 (9, 'Mishi Kobe Niku', 'Tokyo Traders'),
 (10, 'Ikura', 'Tokyo Traders'),
 (11, 'Queso Cabrales', "Cooperativa de Quesos 'Las Cabras'"),
 (12, 'Queso Manchego La Pastora', "Cooperativa de Quesos 'Las Cabras'"),
 (13, 'Konbu', "Mayumi's"),
 (14, 'Tofu', "Mayumi's"),
 (15, 'Genen Shouyu', "Mayumi's"),
 (16, 'Pavlova', 'Pavlova, Ltd.'),
 (17, 'Alice Mutton', 'Pavlova, Ltd.'),
 (18, 'Carnarvon Tigers', 'Pavlova, Ltd.'),
 (19, 'Teatime Chocolate Biscuits', 'Specialty Biscuits, Ltd.'),
 (20, "Sir Rodney's Marmalade", 'Specialty Biscuits, Ltd.')]

B. Use the `(INNER) JOIN` keyword.

In [28]:
%%sql
-- start your code here

SELECT ProductID, ProductName, CompanyName
FROM Products JOIN Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY ProductID
LIMIT 20

 * sqlite:///northwind.sqlite3
Done.

[(1, 'Chai', 'Exotic Liquids'),
 (2, 'Chang', 'Exotic Liquids'),
 (3, 'Aniseed Syrup', 'Exotic Liquids'),
 (4, "Chef Anton's Cajun Seasoning", 'New Orleans Cajun Delights'),
 (5, "Chef Anton's Gumbo Mix", 'New Orleans Cajun Delights'),
 (6, "Grandma's Boysenberry Spread", "Grandma Kelly's Homestead"),
 (7, "Uncle Bob's Organic Dried Pears", "Grandma Kelly's Homestead"),
 (8, 'Northwoods Cranberry Sauce', "Grandma Kelly's Homestead"),
 (9, 'Mishi Kobe Niku', 'Tokyo Traders'),
 (10, 'Ikura', 'Tokyo Traders'),
 (11, 'Queso Cabrales', "Cooperativa de Quesos 'Las Cabras'"),
 (12, 'Queso Manchego La Pastora', "Cooperativa de Quesos 'Las Cabras'"),
 (13, 'Konbu', "Mayumi's"),
 (14, 'Tofu', "Mayumi's"),
 (15, 'Genen Shouyu', "Mayumi's"),
 (16, 'Pavlova', 'Pavlova, Ltd.'),
 (17, 'Alice Mutton', 'Pavlova, Ltd.'),
 (18, 'Carnarvon Tigers', 'Pavlova, Ltd.'),
 (19, 'Teatime Chocolate Biscuits', 'Specialty Biscuits, Ltd.'),
 (20, "Sir Rodney's Marmalade", 'Specialty Biscuits, Ltd.')]

### Ex.17 Show all orders and shippers with Order ID less than 10255.

Display `OrderID`, `OrderDate` (date only), and `CompanyName` of the Shipper, and sort by `OrderID`. In addition, only display rows with `OrderID < 10255`.

In [29]:
%%sql
-- start your code here

SELECT OrderID, DATE(OrderDate) as OrderDate, CompanyName
FROM Orders JOIN Shippers
ON Orders.ShipVia = Shippers.ShipperID
WHERE OrderID < 10255
ORDER BY OrderID

 * sqlite:///northwind.sqlite3
Done.

[(10248, '2014-07-04', 'Federal Shipping'),
 (10249, '2014-07-05', 'Speedy Express'),
 (10250, '2014-07-08', 'United Package'),
 (10251, '2014-07-08', 'Speedy Express'),
 (10252, '2014-07-09', 'United Package'),
 (10253, '2014-07-10', 'United Package'),
 (10254, '2014-07-11', 'United Package')]

### Ex.18 Find total number of products in each category.

In your result, display `CategoryName` and total number of product.

In [30]:
%%sql
-- start your code here

SELECT CategoryName, COUNT(*) as ProductCount
FROM Products JOIN Categories
ON Products.CategoryID = Categories.CategoryID
GROUP BY Products.CategoryID

 * sqlite:///northwind.sqlite3
Done.

[('Beverages', 12),
 ('Condiments', 12),
 ('Confections', 13),
 ('Dairy Products', 10),
 ('Grains/Cereals', 7),
 ('Meat/Poultry', 6),
 ('Produce', 5),
 ('Seafood', 12)]

### Ex.19 Show all orders with values greater than $12,000 that were placed in 2016.

In your result, display `OrderID` and total value of the order (ignore `Discount`).

In [31]:
%%sql
-- start your code here

SELECT Orders.OrderID, TotalPrice
FROM Orders
JOIN (SELECT OrderID, ROUND(SUM(UnitPrice * Quantity), 2) AS TotalPrice FROM OrderDetails GROUP BY OrderID) AS OrderDetails
ON Orders.OrderID = OrderDetails.OrderID
WHERE OrderDetails.TotalPrice > 12000 AND DATE(Orders.ShippedDate) BETWEEN '2016-01-01' AND '2016-12-31'

 * sqlite:///northwind.sqlite3
Done.

[(10865, 17250.0), (10981, 15810.0), (11030, 16321.9)]

### Ex.20 Which products has Michael Suyama sold?

In your result, display `EmployeeID`, `FirstName`, `LastName`, `ProductID` and `ProductName`.

In [32]:
%%sql
-- start your code here

SELECT DISTINCT Employees.EmployeeID, FirstName, LastName, Products.ProductID, ProductName
FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
JOIN Products ON OrderDetails.ProductID = Products.ProductID
WHERE Employees.FirstName = 'Michael' AND Employees.LastName = 'Suyama'

 * sqlite:///northwind.sqlite3
Done.

[(6, 'Michael', 'Suyama', 14, 'Tofu'),
 (6, 'Michael', 'Suyama', 51, 'Manjimup Dried Apples'),
 (6, 'Michael', 'Suyama', 2, 'Chang'),
 (6, 'Michael', 'Suyama', 41, "Jack's New England Clam Chowder"),
 (6, 'Michael', 'Suyama', 33, 'Geitost'),
 (6, 'Michael', 'Suyama', 20, "Sir Rodney's Marmalade"),
 (6, 'Michael', 'Suyama', 31, 'Gorgonzola Telino'),
 (6, 'Michael', 'Suyama', 72, 'Mozzarella di Giovanni'),
 (6, 'Michael', 'Suyama', 71, 'Flotemysost'),
 (6, 'Michael', 'Suyama', 13, 'Konbu'),
 (6, 'Michael', 'Suyama', 44, 'Gula Malacca'),
 (6, 'Michael', 'Suyama', 11, 'Queso Cabrales'),
 (6, 'Michael', 'Suyama', 16, 'Pavlova'),
 (6, 'Michael', 'Suyama', 69, 'Gudbrandsdalsost'),
 (6, 'Michael', 'Suyama', 36, 'Inlagd Sill'),
 (6, 'Michael', 'Suyama', 59, 'Raclette Courdavault'),
 (6, 'Michael', 'Suyama', 62, 'Tarte au sucre'),
 (6, 'Michael', 'Suyama', 1, 'Chai'),
 (6, 'Michael', 'Suyama', 50, 'Valkoinen suklaa'),
 (6, 'Michael', 'Suyama', 24, 'Guaraná Fantástica'),
 (6, 'Michael', 'Suyama', 57, 'Ravioli Angelo'),
 (6, 'Michael', 'Suyama', 55, 'Pâté chinois'),
 (6, 'Michael', 'Suyama', 64, 'Wimmers gute Semmelknödel'),
 (6, 'Michael', 'Suyama', 74, 'Longlife Tofu'),
 (6, 'Michael', 'Suyama', 35, 'Steeleye Stout'),
 (6, 'Michael', 'Suyama', 46, 'Spegesild'),
 (6, 'Michael', 'Suyama', 53, 'Perth Pasties'),
 (6, 'Michael', 'Suyama', 76, 'Lakkalikööri'),
 (6, 'Michael', 'Suyama', 12, 'Queso Manchego La Pastora'),
 (6, 'Michael', 'Suyama', 19, 'Teatime Chocolate Biscuits'),
 (6, 'Michael', 'Suyama', 52, 'Filo Mix'),
 (6, 'Michael', 'Suyama', 47, 'Zaanse koeken'),
 (6, 'Michael', 'Suyama', 15, 'Genen Shouyu'),
 (6, 'Michael', 'Suyama', 28, 'Rössle Sauerkraut'),
 (6, 'Michael', 'Suyama', 65, 'Louisiana Fiery Hot Pepper Sauce'),
 (6, 'Michael', 'Suyama', 29, 'Thüringer Rostbratwurst'),
 (6, 'Michael', 'Suyama', 75, 'Rhönbräu Klosterbier'),
 (6, 'Michael', 'Suyama', 10, 'Ikura'),
 (6, 'Michael', 'Suyama', 56, 'Gnocchi di nonna Alice'),
 (6, 'Michael', 'Suyama', 60, 'Camembert Pierrot'),
 (6, 'Michael', 'Suyama', 21, "Sir Rodney's Scones"),
 (6, 'Michael', 'Suyama', 49, 'Maxilaku'),
 (6, 'Michael', 'Suyama', 39, 'Chartreuse verte'),
 (6, 'Michael', 'Suyama', 73, 'Röd Kaviar'),
 (6, 'Michael', 'Suyama', 4, "Chef Anton's Cajun Seasoning"),
 (6, 'Michael', 'Suyama', 48, 'Chocolade'),
 (6, 'Michael', 'Suyama', 5, "Chef Anton's Gumbo Mix"),
 (6, 'Michael', 'Suyama', 61, "Sirop d'érable"),
 (6, 'Michael', 'Suyama', 77, 'Original Frankfurter grüne Soße'),
 (6, 'Michael', 'Suyama', 40, 'Boston Crab Meat'),
 (6, 'Michael', 'Suyama', 63, 'Vegie-spread'),
 (6, 'Michael', 'Suyama', 34, 'Sasquatch Ale'),
 (6, 'Michael', 'Suyama', 3, 'Aniseed Syrup'),
 (6, 'Michael', 'Suyama', 7, "Uncle Bob's Organic Dried Pears"),
 (6, 'Michael', 'Suyama', 54, 'Tourtière'),
 (6, 'Michael', 'Suyama', 70, 'Outback Lager'),
 (6, 'Michael', 'Suyama', 26, 'Gumbär Gummibärchen')]

### Ex.21 Find customers that never placed an order.

In [33]:
%%sql
-- start your code here

SELECT Customers.CustomerID, CompanyName, ContactName
FROM Customers LEFT JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.CustomerID IS NULL

 * sqlite:///northwind.sqlite3
Done.

[('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel'),
 ('PARIS', 'Paris spécialités', 'Marie Bertrand')]

### Ex.22 Find customers who never placed an order from Margaret Peacock.

Hint: Margaret's `EmployeeID` is 4.

In [34]:
%%sql
-- start your code here

SELECT Customers.CustomerID, CompanyName, ContactName
FROM Customers
LEFT JOIN (SELECT * FROM Orders WHERE EmployeeID = 4) AS MargaretOrders
ON Customers.CustomerID = MargaretOrders.CustomerID
WHERE MargaretOrders.CustomerID IS NULL

 * sqlite:///northwind.sqlite3
Done.

[('CONSH', 'Consolidated Holdings', 'Elizabeth Brown'),
 ('DUMON', 'Du monde entier', 'Janine Labrune'),
 ('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel'),
 ('FRANR', 'France restauration', 'Carine Schmitt'),
 ('GROSR', 'GROSELLA-Restaurante', 'Manuel Pereira'),
 ('LAUGB', 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri'),
 ('LAZYK', 'Lazy K Kountry Store', 'John Steel'),
 ('NORTS', 'North/South', 'Simon Crowther'),
 ('PARIS', 'Paris spécialités', 'Marie Bertrand'),
 ('PERIC', 'Pericles Comidas clásicas', 'Guillermo Fernández'),
 ('PRINI', 'Princesa Isabel Vinhos', 'Isabel de Castro'),
 ('SANTG', 'Santé Gourmet', 'Jonas Bergulfsen'),
 ('SEVES', 'Seven Seas Imports', 'Hari Kumar'),
 ('SPECD', 'Spécialités du monde', 'Dominique Perrier'),
 ('THEBI', 'The Big Cheese', 'Liz Nixon'),
 ('VINET', 'Vins et alcools Chevalier', 'Paul Henriot')]

### Ex.23 Find high-value customers (Approach #1)

Define high-value customers as those who have made at least 1 order with a total value of at least $10,000 (ignore `Discount`). Only consider orders placed in 2016.

In [35]:
%%sql
-- start your code here

SELECT Customers.CustomerID, TotalPrice
FROM Customers
JOIN Orders ON Customers.CustomerID = Orders.CustomerID
JOIN (SELECT OrderID, ROUND(SUM(UnitPrice * Quantity), 2) AS TotalPrice FROM OrderDetails GROUP BY OrderID HAVING TotalPrice >= 10000) AS OrderDetails
ON Orders.OrderID = OrderDetails.OrderID
WHERE DATE(Orders.ShippedDate) BETWEEN '2016-01-01' AND '2016-12-31'

 * sqlite:///northwind.sqlite3
Done.

[('KOENE', 11490.7),
 ('QUICK', 17250.0),
 ('RATTC', 11380.0),
 ('HUNGO', 10835.24),
 ('HANAR', 15810.0),
 ('SAVEA', 16321.9)]

### Ex.24 Find high-value customers (Approach #2)

Define high-value customers as those who have made a total order of at least $15,000 (ignore `Discount`). Only consider orders placed in 2016.

In [36]:
%%sql
-- start your code here

SELECT Customers.CustomerID, SUM(OrderDetails.TotalPrice) AS TotalPrice
FROM Customers
JOIN Orders ON Customers.CustomerID = Orders.CustomerID
JOIN (SELECT OrderID, ROUND(SUM(UnitPrice * Quantity), 2) AS TotalPrice FROM OrderDetails GROUP BY OrderID) AS OrderDetails
ON Orders.OrderID = OrderDetails.OrderID
WHERE TotalPrice >= 15000 AND DATE(Orders.ShippedDate) BETWEEN '2016-01-01' AND '2016-12-31'
GROUP BY Orders.CustomerID

 * sqlite:///northwind.sqlite3
Done.

[('HANAR', 15810.0), ('QUICK', 17250.0), ('SAVEA', 16321.9)]

## Part 4. Others

### Ex.25 Find the total number of orders fulfilled by the oldest employee

Use CTE, subquery, and temporary table.

In [37]:
%%sql
/* CTE (WITH keyword) */
-- start your code here

WITH
  OrdersByEmployee AS (SELECT EmployeeID, COUNT(*) AS OrderCount FROM Orders GROUP BY EmployeeID),
  OldestEmployee AS (SELECT *, MIN(BirthDate) FROM Employees)
SELECT OldestEmployee.EmployeeID, OrderCount
FROM OldestEmployee JOIN OrdersByEmployee
WHERE OldestEmployee.EmployeeID = OrdersByEmployee.EmployeeID

 * sqlite:///northwind.sqlite3
Done.

[(4, 156)]

In [38]:
%%sql
/* Subquery */
-- start your code here

SELECT Orders.EmployeeID, COUNT(*) AS OrderCount
FROM Orders JOIN (SELECT *, MIN(BirthDate) FROM Employees) AS Employees
ON Orders.EmployeeID = Employees.EmployeeID
GROUP BY Orders.EmployeeID

 * sqlite:///northwind.sqlite3
Done.

[(4, 156)]

In [39]:
%%sql
/* Temporary Table */
-- start your code here

DROP TABLE IF EXISTS OrdersByEmployee;
DROP TABLE IF EXISTS OldestEmployee;

CREATE TEMPORARY TABLE OrdersByEmployee AS SELECT EmployeeID, COUNT(*) AS OrderCount FROM Orders GROUP BY EmployeeID;
CREATE TEMPORARY TABLE OldestEmployee AS SELECT EmployeeID, MIN(BirthDate) FROM Employees;
SELECT OrdersByEmployee.EmployeeID, OrderCount
FROM OrdersByEmployee JOIN OldestEmployee
ON OrdersByEmployee.EmployeeID = OldestEmployee.EmployeeID

 * sqlite:///northwind.sqlite3
Done.
Done.
Done.
Done.
Done.

[(4, 156)]

### Ex.26 For each employee, find what percentage of his/her orders were shipped late?

In your result, display `EmployeeID`, `LastName`, total number of orders, number of late orders, % of late orders (rounding to 2 decimal places).

Define late order as `RequiredData <= ShipppedDate`.

In [40]:
%%sql
-- 1. Create temporary table with late order count for each EmployeeID
-- start your code here

DROP TABLE IF EXISTS LateOrders;

CREATE TEMPORARY TABLE LateOrders AS SELECT EmployeeID, COUNT(*) as LateCount FROM Orders WHERE RequiredDate <= ShippedDate GROUP BY EmployeeID;

SELECT * FROM LateOrders
ORDER BY LateCount DESC

 * sqlite:///northwind.sqlite3
Done.
Done.
Done.

[(4, 10), (3, 5), (8, 5), (9, 5), (2, 4), (7, 4), (1, 3), (6, 3)]

In [42]:
%%sql
-- 2. Create temporary table with total order count and late order count for each EmployeeID
-- start your code here

DROP TABLE IF EXISTS AllOrders;

CREATE TEMPORARY TABLE AllOrders AS SELECT EmployeeID, COUNT(*) as OrderCount FROM Orders GROUP BY EmployeeID;
SELECT
  AllOrders.EmployeeID,
  AllOrders.OrderCount,
  CASE WHEN LateOrders.LateCount IS NULL THEN 0 ELSE LateOrders.LateCount END AS LateCount
FROM AllOrders LEFT JOIN LateOrders
ON AllOrders.EmployeeID = LateOrders.EmployeeID

 * sqlite:///northwind.sqlite3
Done.
Done.
Done.

[(1, 123, 3),
 (2, 96, 4),
 (3, 127, 5),
 (4, 156, 10),
 (5, 42, 0),
 (6, 67, 3),
 (7, 72, 4),
 (8, 104, 5),
 (9, 43, 5)]

In [43]:
%%sql
-- 3. Get percentage of late orders for each EmployeeID
-- start your code here

SELECT
  AllOrders.EmployeeID,
  AllOrders.OrderCount as OrderCount,
  CASE WHEN LateOrders.LateCount IS NULL THEN 0 ELSE LateOrders.LateCount END AS LateCount,
  CASE WHEN LateCount / OrderCount IS NULL THEN 0.0 ELSE ROUND(100.0 * LateCount / OrderCount, 2) END AS LatePercent
FROM AllOrders LEFT JOIN LateOrders
ON AllOrders.EmployeeID = LateOrders.EmployeeID
ORDER BY LatePercent DESC

 * sqlite:///northwind.sqlite3
Done.

[(9, 43, 5, 11.63),
 (4, 156, 10, 6.41),
 (7, 72, 4, 5.56),
 (8, 104, 5, 4.81),
 (6, 67, 3, 4.48),
 (2, 96, 4, 4.17),
 (3, 127, 5, 3.94),
 (1, 123, 3, 2.44),
 (5, 42, 0, 0.0)]

### Ex.27 Find customers with multiple orders in 5 day period.

In [44]:
%%sql
-- start your code here

WITH OrderDates AS (
  SELECT CustomerID, OrderDate,
  LAG (OrderDate)
  OVER (PARTITION BY CustomerID ORDER BY OrderDate) AS LastOrderDate
  FROM Orders
  GROUP BY OrderID
)

SELECT Customers.CustomerID, CompanyName
FROM Customers JOIN (SELECT CustomerID, MIN(JULIANDAY(OrderDates.OrderDate)-JULIANDAY(OrderDates.LastOrderDate)) AS MinTimeDiff FROM OrderDates GROUP BY CustomerID) AS DateDiffs
ON Customers.CustomerID = DateDiffs.CustomerID
WHERE MinTimeDiff <= 5

 * sqlite:///northwind.sqlite3
Done.

[('ANTON', 'Antonio Moreno Taquería'),
 ('AROUT', 'Around the Horn'),
 ('BERGS', 'Berglunds snabbköp'),
 ('BONAP', "Bon app'"),
 ('BOTTM', 'Bottom-Dollar Markets'),
 ('BSBEV', "B's Beverages"),
 ('EASTC', 'Eastern Connection'),
 ('ERNSH', 'Ernst Handel'),
 ('FOLKO', 'Folk och fä HB'),
 ('FRANK', 'Frankenversand'),
 ('GODOS', 'Godos Cocina Típica'),
 ('GREAL', 'Great Lakes Food Market'),
 ('HANAR', 'Hanari Carnes'),
 ('HILAA', 'HILARION-Abastos'),
 ('ISLAT', 'Island Trading'),
 ('KOENE', 'Königlich Essen'),
 ('LACOR', "La corne d'abondance"),
 ('LEHMS', 'Lehmanns Marktstand'),
 ('LILAS', 'LILA-Supermercado'),
 ('LINOD', 'LINO-Delicateses'),
 ('LONEP', 'Lonesome Pine Restaurant'),
 ('MAISD', 'Maison Dewey'),
 ('MEREP', 'Mère Paillarde'),
 ('QUEEN', 'Queen Cozinha'),
 ('QUICK', 'QUICK-Stop'),
 ('RATTC', 'Rattlesnake Canyon Grocery'),
 ('RICSU', 'Richter Supermarkt'),
 ('ROMEY', 'Romero y tomillo'),
 ('SAVEA', 'Save-a-lot Markets'),
 ('SEVES', 'Seven Seas Imports'),
 ('SUPRD', 'Suprêmes délices'),
 ('TRADH', 'Tradição Hipermercados'),
 ('TRAIH', "Trail's Head Gourmet Provisioners"),
 ('VICTE', 'Victuailles en stock'),
 ('VINET', 'Vins et alcools Chevalier'),
 ('WARTH', 'Wartian Herkku'),
 ('WELLI', 'Wellington Importadora'),
 ('WHITC', 'White Clover Markets'),
 ('WILMK', 'Wilman Kala')]

### Ex.28 Group customers by their total order value in 2016.

Group customers into four categories:
- very high (total order in 2016 > 10,000)
- high (5,000 < total order <= 10,000)
- medium (1,000 < total order <= 5,000)
- low (0 < total order <= 1,000)

When calculating total order value, you can ignore `Discount`.

In [3]:
%%sql
-- Step 1: Get total order amount for each CustomerID, order by total order amount

DROP TABLE IF EXISTS TotalOrderAmountTpTable;

CREATE TEMPORARY TABLE TotalOrderAmountTpTable AS
SELECT Customers.CustomerID, CompanyName, SUM(UnitPrice * Quantity) AS TotalOrderAmount
FROM Customers
  JOIN Orders ON Customers.CustomerID = Orders.CustomerID
  JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
WHERE Date(OrderDate) BETWEEN '2016-01-01' AND '2016-12-31'
GROUP BY Customers.CustomerID
ORDER BY TotalOrderAmount DESC;

SELECT * FROM TotalOrderAmountTpTable

 * sqlite:///northwind.sqlite3
Done.
Done.
Done.

[('SAVEA', 'Save-a-lot Markets', 42806.25),
 ('ERNSH', 'Ernst Handel', 42598.9),
 ('QUICK', 'QUICK-Stop', 40526.99),
 ('HANAR', 'Hanari Carnes', 24238.05),
 ('HUNGO', 'Hungry Owl All-Night Grocers', 22796.340000000004),
 ('RATTC', 'Rattlesnake Canyon Grocery', 21725.600000000002),
 ('KOENE', 'Königlich Essen', 20204.95),
 ('FOLKO', 'Folk och fä HB', 15973.85),
 ('WHITC', 'White Clover Markets', 15278.9),
 ('BOTTM', 'Bottom-Dollar Markets', 12227.4),
 ('SUPRD', 'Suprêmes délices', 11862.5),
 ('GREAL', 'Great Lakes Food Market', 10562.58),
 ('LINOD', 'LINO-Delicateses', 10085.6),
 ('EASTC', 'Eastern Connection', 9569.310000000001),
 ('BERGS', 'Berglunds snabbköp', 8110.550000000001),
 ('RICAR', 'Ricardo Adocicados', 7312.0),
 ('BONAP', "Bon app'", 7185.9),
 ('GODOS', 'Godos Cocina Típica', 7064.05),
 ('QUEEN', 'Queen Cozinha', 7007.650000000001),
 ('HILAA', 'HILARION-Abastos', 6132.299999999999),
 ('LILAS', 'LILA-Supermercado', 5994.06),
 ('AROUT', 'Around the Horn', 5838.5),
 ('FRANK', 'Frankenversand', 5587.0),
 ('RICSU', 'Richter Supermarkt', 5497.9),
 ('OLDWO', 'Old World Delicatessen', 5337.65),
 ('MAISD', 'Maison Dewey', 5000.2),
 ('CHOPS', 'Chop-suey Chinese', 4429.4),
 ('TRADH', 'Tradição Hipermercados', 4401.62),
 ('PICCO', 'Piccolo und mehr', 4393.75),
 ('VAFFE', 'Vaffeljernet', 4333.5),
 ('REGGC', 'Reggiani Caseifici', 4263.0),
 ('SANTG', 'Santé Gourmet', 3976.75),
 ('LEHMS', 'Lehmanns Marktstand', 3342.85),
 ('OCEAN', 'Océano Atlántico Ltda.', 3031.0),
 ('VICTE', 'Victuailles en stock', 3022.0),
 ('OTTIK', 'Ottilies Käseladen', 3012.7),
 ('DRACD', 'Drachenblut Delikatessen', 2809.61),
 ('ISLAT', 'Island Trading', 2684.6),
 ('PRINI', 'Princesa Isabel Vinhos', 2633.9),
 ('BSBEV', "B's Beverages", 2431),
 ('SPECD', 'Spécialités du monde', 2371.0),
 ('ALFKI', 'Alfreds Futterkiste', 2302.2),
 ('FRANR', 'France restauration', 2252.0600000000004),
 ('BLAUS', 'Blauer See Delikatessen', 2160.0),
 ('LACOR', "La corne d'abondance", 1992.0500000000002),
 ('WILMK', 'Wilman Kala', 1987.0),
 ('TORTU', 'Tortuga Restaurante', 1874.5),
 ('WOLZA', 'Wolski  Zajazd', 1865.1),
 ('LONEP', 'Lonesome Pine Restaurant', 1709.4),
 ('RANCH', 'Rancho grande', 1694.7),
 ('MAGAA', 'Magazzini Alimentari Riuniti', 1693.0),
 ('SEVES', 'Seven Seas Imports', 1630.0),
 ('CACTU', 'Cactus Comidas para llevar', 1576.8),
 ('WANDK', 'Die Wandernde Kuh', 1564),
 ('LAMAI', "La maison d'Asie", 1549.95),
 ('PERIC', 'Pericles Comidas clásicas', 1496.0),
 ('LETSS', "Let's Stop N Shop", 1450.6),
 ('QUEDE', 'Que Delícia', 1353.6),
 ('FRANS', 'Franchi S.p.A.', 1296.0),
 ('WELLI', 'Wellington Importadora', 1245.0),
 ('SPLIR', 'Split Rail Beer & Ale', 1117.0),
 ('CONSH', 'Consolidated Holdings', 931.5),
 ('TOMSP', 'Toms Spezialitäten', 910.4),
 ('DUMON', 'Du monde entier', 860.1),
 ('BLONP', 'Blondesddsl père et fils', 730.0),
 ('ROMEY', 'Romero y tomillo', 726.89),
 ('ANTON', 'Antonio Moreno Taquería', 660),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 514.4),
 ('COMMI', 'Comércio Mineiro', 513.75),
 ('GOURL', 'Gourmet Lanchonetes', 497.0),
 ('THECR', 'The Cracker Box', 326.0),
 ('WARTH', 'Wartian Herkku', 300),
 ('BOLID', 'Bólido Comidas preparadas', 280),
 ('MORGK', 'Morgenstern Gesundkost', 245.0),
 ('SIMOB', 'Simons bistro', 244.29999999999998),
 ('TRAIH', "Trail's Head Gourmet Provisioners", 237.89999999999998),
 ('GALED', 'Galería del gastrónomo', 207.5),
 ('LAUGB', 'Laughing Bacchus Wine Cellars', 187),
 ('THEBI', 'The Big Cheese', 69.6),
 ('FURIB', 'Furia Bacalhau e Frutos do Mar', 68),
 ('NORTS', 'North/South', 45)]

In [4]:
%%sql
-- Step 2: Create column for customer category

SELECT CustomerID, CompanyName, totalOrderAmount,
CASE
  WHEN TotalOrderAmount > 0 AND TotalOrderAmount <= 1000 THEN 'Low'
  WHEN TotalOrderAmount > 1000 AND TotalOrderAmount <= 5000 THEN 'Medium'
  WHEN TotalOrderAmount > 5000 AND TotalOrderAmount <= 10000 THEN 'High'
  WHEN TotalOrderAmount > 10000 THEN 'Very High'
END AS CustomerCategory
FROM TotalOrderAmountTpTable
ORDER BY TotalOrderAmount DESC

 * sqlite:///northwind.sqlite3
Done.

[('SAVEA', 'Save-a-lot Markets', 42806.25, 'Very High'),
 ('ERNSH', 'Ernst Handel', 42598.9, 'Very High'),
 ('QUICK', 'QUICK-Stop', 40526.99, 'Very High'),
 ('HANAR', 'Hanari Carnes', 24238.05, 'Very High'),
 ('HUNGO', 'Hungry Owl All-Night Grocers', 22796.340000000004, 'Very High'),
 ('RATTC', 'Rattlesnake Canyon Grocery', 21725.600000000002, 'Very High'),
 ('KOENE', 'Königlich Essen', 20204.95, 'Very High'),
 ('FOLKO', 'Folk och fä HB', 15973.85, 'Very High'),
 ('WHITC', 'White Clover Markets', 15278.9, 'Very High'),
 ('BOTTM', 'Bottom-Dollar Markets', 12227.4, 'Very High'),
 ('SUPRD', 'Suprêmes délices', 11862.5, 'Very High'),
 ('GREAL', 'Great Lakes Food Market', 10562.58, 'Very High'),
 ('LINOD', 'LINO-Delicateses', 10085.6, 'Very High'),
 ('EASTC', 'Eastern Connection', 9569.310000000001, 'High'),
 ('BERGS', 'Berglunds snabbköp', 8110.550000000001, 'High'),
 ('RICAR', 'Ricardo Adocicados', 7312.0, 'High'),
 ('BONAP', "Bon app'", 7185.9, 'High'),
 ('GODOS', 'Godos Cocina Típica', 7064.05, 'High'),
 ('QUEEN', 'Queen Cozinha', 7007.650000000001, 'High'),
 ('HILAA', 'HILARION-Abastos', 6132.299999999999, 'High'),
 ('LILAS', 'LILA-Supermercado', 5994.06, 'High'),
 ('AROUT', 'Around the Horn', 5838.5, 'High'),
 ('FRANK', 'Frankenversand', 5587.0, 'High'),
 ('RICSU', 'Richter Supermarkt', 5497.9, 'High'),
 ('OLDWO', 'Old World Delicatessen', 5337.65, 'High'),
 ('MAISD', 'Maison Dewey', 5000.2, 'High'),
 ('CHOPS', 'Chop-suey Chinese', 4429.4, 'Medium'),
 ('TRADH', 'Tradição Hipermercados', 4401.62, 'Medium'),
 ('PICCO', 'Piccolo und mehr', 4393.75, 'Medium'),
 ('VAFFE', 'Vaffeljernet', 4333.5, 'Medium'),
 ('REGGC', 'Reggiani Caseifici', 4263.0, 'Medium'),
 ('SANTG', 'Santé Gourmet', 3976.75, 'Medium'),
 ('LEHMS', 'Lehmanns Marktstand', 3342.85, 'Medium'),
 ('OCEAN', 'Océano Atlántico Ltda.', 3031.0, 'Medium'),
 ('VICTE', 'Victuailles en stock', 3022.0, 'Medium'),
 ('OTTIK', 'Ottilies Käseladen', 3012.7, 'Medium'),
 ('DRACD', 'Drachenblut Delikatessen', 2809.61, 'Medium'),
 ('ISLAT', 'Island Trading', 2684.6, 'Medium'),
 ('PRINI', 'Princesa Isabel Vinhos', 2633.9, 'Medium'),
 ('BSBEV', "B's Beverages", 2431, 'Medium'),
 ('SPECD', 'Spécialités du monde', 2371.0, 'Medium'),
 ('ALFKI', 'Alfreds Futterkiste', 2302.2, 'Medium'),
 ('FRANR', 'France restauration', 2252.0600000000004, 'Medium'),
 ('BLAUS', 'Blauer See Delikatessen', 2160.0, 'Medium'),
 ('LACOR', "La corne d'abondance", 1992.0500000000002, 'Medium'),
 ('WILMK', 'Wilman Kala', 1987.0, 'Medium'),
 ('TORTU', 'Tortuga Restaurante', 1874.5, 'Medium'),
 ('WOLZA', 'Wolski  Zajazd', 1865.1, 'Medium'),
 ('LONEP', 'Lonesome Pine Restaurant', 1709.4, 'Medium'),
 ('RANCH', 'Rancho grande', 1694.7, 'Medium'),
 ('MAGAA', 'Magazzini Alimentari Riuniti', 1693.0, 'Medium'),
 ('SEVES', 'Seven Seas Imports', 1630.0, 'Medium'),
 ('CACTU', 'Cactus Comidas para llevar', 1576.8, 'Medium'),
 ('WANDK', 'Die Wandernde Kuh', 1564, 'Medium'),
 ('LAMAI', "La maison d'Asie", 1549.95, 'Medium'),
 ('PERIC', 'Pericles Comidas clásicas', 1496.0, 'Medium'),
 ('LETSS', "Let's Stop N Shop", 1450.6, 'Medium'),
 ('QUEDE', 'Que Delícia', 1353.6, 'Medium'),
 ('FRANS', 'Franchi S.p.A.', 1296.0, 'Medium'),
 ('WELLI', 'Wellington Importadora', 1245.0, 'Medium'),
 ('SPLIR', 'Split Rail Beer & Ale', 1117.0, 'Medium'),
 ('CONSH', 'Consolidated Holdings', 931.5, 'Low'),
 ('TOMSP', 'Toms Spezialitäten', 910.4, 'Low'),
 ('DUMON', 'Du monde entier', 860.1, 'Low'),
 ('BLONP', 'Blondesddsl père et fils', 730.0, 'Low'),
 ('ROMEY', 'Romero y tomillo', 726.89, 'Low'),
 ('ANTON', 'Antonio Moreno Taquería', 660, 'Low'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 514.4, 'Low'),
 ('COMMI', 'Comércio Mineiro', 513.75, 'Low'),
 ('GOURL', 'Gourmet Lanchonetes', 497.0, 'Low'),
 ('THECR', 'The Cracker Box', 326.0, 'Low'),
 ('WARTH', 'Wartian Herkku', 300, 'Low'),
 ('BOLID', 'Bólido Comidas preparadas', 280, 'Low'),
 ('MORGK', 'Morgenstern Gesundkost', 245.0, 'Low'),
 ('SIMOB', 'Simons bistro', 244.29999999999998, 'Low'),
 ('TRAIH', "Trail's Head Gourmet Provisioners", 237.89999999999998, 'Low'),
 ('GALED', 'Galería del gastrónomo', 207.5, 'Low'),
 ('LAUGB', 'Laughing Bacchus Wine Cellars', 187, 'Low'),
 ('THEBI', 'The Big Cheese', 69.6, 'Low'),
 ('FURIB', 'Furia Bacalhau e Frutos do Mar', 68, 'Low'),
 ('NORTS', 'North/South', 45, 'Low')]

### Ex. 29 Countries with suppliers and customers

Some Northwind employees are planning a business trip, and they would like to visit as many customers and suppliers as possible. They would like to see a list of all countries and their corresponding total number of customers and total number of suppliers.

#### Method 1. Use intermediate tables.

We will use temporary tables.

In [5]:
%%sql
-- Step 1: Count total customers by country

DROP TABLE IF EXISTS TotalCustomersTpTable;

CREATE TEMPORARY TABLE TotalCustomersTpTable AS
SELECT Country, COUNT(CustomerID) AS TotalCustomers
FROM Customers
GROUP BY Country

 * sqlite:///northwind.sqlite3
Done.
Done.

[]

In [6]:
%%sql
-- Step 2: Count total suppliers by country

DROP TABLE IF EXISTS TotalSuppliersTpTable;

CREATE TEMPORARY TABLE TotalSuppliersTpTable AS
SELECT Country, COUNT(SupplierID) AS TotalSuppliers
FROM Suppliers
GROUP BY Country

 * sqlite:///northwind.sqlite3
Done.
Done.

[]

In [7]:
%%sql
-- Step 3: Join two intermediate tables with full outer join using union

SELECT TotalCustomersTpTable.Country, TotalCustomers, TotalSuppliers
FROM TotalCustomersTpTable
  LEFT JOIN TotalSuppliersTpTable
    ON TotalCustomersTpTable.Country = TotalSuppliersTpTable.Country
UNION
SELECT TotalSuppliersTpTable.Country, TotalCustomers, TotalSuppliers
FROM TotalSuppliersTpTable
  LEFT JOIN TotalCustomersTpTable
    ON TotalCustomersTpTable.Country = TotalSuppliersTpTable.Country
ORDER BY TotalSuppliersTpTable.Country

 * sqlite:///northwind.sqlite3
Done.

[('Argentina', 3, None),
 ('Australia', None, 2),
 ('Austria', 2, None),
 ('Belgium', 2, None),
 ('Brazil', 9, 1),
 ('Canada', 3, 2),
 ('Denmark', 2, 1),
 ('Finland', 2, 1),
 ('France', 11, 3),
 ('Germany', 11, 3),
 ('Ireland', 1, None),
 ('Italy', 3, 2),
 ('Japan', None, 2),
 ('Mexico', 5, None),
 ('Netherlands', None, 1),
 ('Norway', 1, 1),
 ('Poland', 1, None),
 ('Portugal', 2, None),
 ('Singapore', None, 1),
 ('Spain', 5, 1),
 ('Sweden', 2, 2),
 ('Switzerland', 2, None),
 ('UK', 7, 2),
 ('USA', 13, 4),
 ('Venezuela', 4, None)]

In [8]:
%%sql
-- Clean up

DROP TABLE TotalCustomersTpTable;
DROP TABLE TotalSuppliersTpTable;

 * sqlite:///northwind.sqlite3
Done.
Done.

[]

#### Method 2. Use subquery to get a derived table

We find all distinct countries in `Customers` and `Suppliers` tables, and combine them to be a derived table `CountriesTable`. This table exists only during the execution of the query. We then `LEFT JOIN` the table to `Customers` and `Supplier` tables, and use `GROUP BY` to obtain the result.

In [9]:
%%sql
-- Step 1

SELECT
  CountriesTable.Country,
  CustomerID,
  SupplierID
FROM
  (SELECT DISTINCT Country FROM Customers
   UNION
   SELECT DISTINCT Country FROM Suppliers
  ) AS CountriesTable
  LEFT JOIN Customers ON CountriesTable.Country = Customers.Country
  LEFT JOIN Suppliers ON CountriesTable.Country = Suppliers.Country

 * sqlite:///northwind.sqlite3
Done.

[('Argentina', 'CACTU', None),
 ('Argentina', 'OCEAN', None),
 ('Argentina', 'RANCH', None),
 ('Australia', None, 7),
 ('Australia', None, 24),
 ('Austria', 'ERNSH', None),
 ('Austria', 'PICCO', None),
 ('Belgium', 'MAISD', None),
 ('Belgium', 'SUPRD', None),
 ('Brazil', 'COMMI', 10),
 ('Brazil', 'FAMIA', 10),
 ('Brazil', 'GOURL', 10),
 ('Brazil', 'HANAR', 10),
 ('Brazil', 'QUEDE', 10),
 ('Brazil', 'QUEEN', 10),
 ('Brazil', 'RICAR', 10),
 ('Brazil', 'TRADH', 10),
 ('Brazil', 'WELLI', 10),
 ('Canada', 'BOTTM', 25),
 ('Canada', 'BOTTM', 29),
 ('Canada', 'LAUGB', 25),
 ('Canada', 'LAUGB', 29),
 ('Canada', 'MEREP', 25),
 ('Canada', 'MEREP', 29),
 ('Denmark', 'SIMOB', 21),
 ('Denmark', 'VAFFE', 21),
 ('Finland', 'WARTH', 23),
 ('Finland', 'WILMK', 23),
 ('France', 'BLONP', 18),
 ('France', 'BLONP', 27),
 ('France', 'BLONP', 28),
 ('France', 'BONAP', 18),
 ('France', 'BONAP', 27),
 ('France', 'BONAP', 28),
 ('France', 'DUMON', 18),
 ('France', 'DUMON', 27),
 ('France', 'DUMON', 28),
 ('France', 'FOLIG', 18),
 ('France', 'FOLIG', 27),
 ('France', 'FOLIG', 28),
 ('France', 'FRANR', 18),
 ('France', 'FRANR', 27),
 ('France', 'FRANR', 28),
 ('France', 'LACOR', 18),
 ('France', 'LACOR', 27),
 ('France', 'LACOR', 28),
 ('France', 'LAMAI', 18),
 ('France', 'LAMAI', 27),
 ('France', 'LAMAI', 28),
 ('France', 'PARIS', 18),
 ('France', 'PARIS', 27),
 ('France', 'PARIS', 28),
 ('France', 'SPECD', 18),
 ('France', 'SPECD', 27),
 ('France', 'SPECD', 28),
 ('France', 'VICTE', 18),
 ('France', 'VICTE', 27),
 ('France', 'VICTE', 28),
 ('France', 'VINET', 18),
 ('France', 'VINET', 27),
 ('France', 'VINET', 28),
 ('Germany', 'ALFKI', 11),
 ('Germany', 'ALFKI', 12),
 ('Germany', 'ALFKI', 13),
 ('Germany', 'BLAUS', 11),
 ('Germany', 'BLAUS', 12),
 ('Germany', 'BLAUS', 13),
 ('Germany', 'DRACD', 11),
 ('Germany', 'DRACD', 12),
 ('Germany', 'DRACD', 13),
 ('Germany', 'FRANK', 11),
 ('Germany', 'FRANK', 12),
 ('Germany', 'FRANK', 13),
 ('Germany', 'KOENE', 11),
 ('Germany', 'KOENE', 12),
 ('Germany', 'KOENE', 13),
 ('Germany', 'LEHMS', 11),
 ('Germany', 'LEHMS', 12),
 ('Germany', 'LEHMS', 13),
 ('Germany', 'MORGK', 11),
 ('Germany', 'MORGK', 12),
 ('Germany', 'MORGK', 13),
 ('Germany', 'OTTIK', 11),
 ('Germany', 'OTTIK', 12),
 ('Germany', 'OTTIK', 13),
 ('Germany', 'QUICK', 11),
 ('Germany', 'QUICK', 12),
 ('Germany', 'QUICK', 13),
 ('Germany', 'TOMSP', 11),
 ('Germany', 'TOMSP', 12),
 ('Germany', 'TOMSP', 13),
 ('Germany', 'WANDK', 11),
 ('Germany', 'WANDK', 12),
 ('Germany', 'WANDK', 13),
 ('Ireland', 'HUNGO', None),
 ('Italy', 'FRANS', 14),
 ('Italy', 'FRANS', 26),
 ('Italy', 'MAGAA', 14),
 ('Italy', 'MAGAA', 26),
 ('Italy', 'REGGC', 14),
 ('Italy', 'REGGC', 26),
 ('Japan', None, 4),
 ('Japan', None, 6),
 ('Mexico', 'ANATR', None),
 ('Mexico', 'ANTON', None),
 ('Mexico', 'CENTC', None),
 ('Mexico', 'PERIC', None),
 ('Mexico', 'TORTU', None),
 ('Netherlands', None, 22),
 ('Norway', 'SANTG', 15),
 ('Poland', 'WOLZA', None),
 ('Portugal', 'FURIB', None),
 ('Portugal', 'PRINI', None),
 ('Singapore', None, 20),
 ('Spain', 'BOLID', 5),
 ('Spain', 'FISSA', 5),
 ('Spain', 'GALED', 5),
 ('Spain', 'GODOS', 5),
 ('Spain', 'ROMEY', 5),
 ('Sweden', 'BERGS', 9),
 ('Sweden', 'BERGS', 17),
 ('Sweden', 'FOLKO', 9),
 ('Sweden', 'FOLKO', 17),
 ('Switzerland', 'CHOPS', None),
 ('Switzerland', 'RICSU', None),
 ('UK', 'AROUT', 1),
 ('UK', 'AROUT', 8),
 ('UK', 'BSBEV', 1),
 ('UK', 'BSBEV', 8),
 ('UK', 'CONSH', 1),
 ('UK', 'CONSH', 8),
 ('UK', 'EASTC', 1),
 ('UK', 'EASTC', 8),
 ('UK', 'ISLAT', 1),
 ('UK', 'ISLAT', 8),
 ('UK', 'NORTS', 1),
 ('UK', 'NORTS', 8),
 ('UK', 'SEVES', 1),
 ('UK', 'SEVES', 8),
 ('USA', 'GREAL', 2),
 ('USA', 'GREAL', 3),
 ('USA', 'GREAL', 16),
 ('USA', 'GREAL', 19),
 ('USA', 'HUNGC', 2),
 ('USA', 'HUNGC', 3),
 ('USA', 'HUNGC', 16),
 ('USA', 'HUNGC', 19),
 ('USA', 'LAZYK', 2),
 ('USA', 'LAZYK', 3),
 ('USA', 'LAZYK', 16),
 ('USA', 'LAZYK', 19),
 ('USA', 'LETSS', 2),
 ('USA', 'LETSS', 3),
 ('USA', 'LETSS', 16),
 ('USA', 'LETSS', 19),
 ('USA', 'LONEP', 2),
 ('USA', 'LONEP', 3),
 ('USA', 'LONEP', 16),
 ('USA', 'LONEP', 19),
 ('USA', 'OLDWO', 2),
 ('USA', 'OLDWO', 3),
 ('USA', 'OLDWO', 16),
 ('USA', 'OLDWO', 19),
 ('USA', 'RATTC', 2),
 ('USA', 'RATTC', 3),
 ('USA', 'RATTC', 16),
 ('USA', 'RATTC', 19),
 ('USA', 'SAVEA', 2),
 ('USA', 'SAVEA', 3),
 ('USA', 'SAVEA', 16),
 ('USA', 'SAVEA', 19),
 ('USA', 'SPLIR', 2),
 ('USA', 'SPLIR', 3),
 ('USA', 'SPLIR', 16),
 ('USA', 'SPLIR', 19),
 ('USA', 'THEBI', 2),
 ('USA', 'THEBI', 3),
 ('USA', 'THEBI', 16),
 ('USA', 'THEBI', 19),
 ('USA', 'THECR', 2),
 ('USA', 'THECR', 3),
 ('USA', 'THECR', 16),
 ('USA', 'THECR', 19),
 ('USA', 'TRAIH', 2),
 ('USA', 'TRAIH', 3),
 ('USA', 'TRAIH', 16),
 ('USA', 'TRAIH', 19),
 ('USA', 'WHITC', 2),
 ('USA', 'WHITC', 3),
 ('USA', 'WHITC', 16),
 ('USA', 'WHITC', 19),
 ('Venezuela', 'GROSR', None),
 ('Venezuela', 'HILAA', None),
 ('Venezuela', 'LILAS', None),
 ('Venezuela', 'LINOD', None)]

In [10]:
%%sql
-- Step 2

SELECT
  CountriesTable.Country,
  Count(DISTINCT CustomerID) AS TotalCustomers,
  Count(DISTINCT SupplierID) AS TotalSuppliers
FROM
  (SELECT DISTINCT Country FROM Customers
   UNION
   SELECT DISTINCT Country FROM Suppliers
  ) AS CountriesTable
  LEFT JOIN Customers ON CountriesTable.Country = Customers.Country
  LEFT JOIN Suppliers ON CountriesTable.Country = Suppliers.Country
GROUP BY CountriesTable.Country
ORDER BY CountriesTable.Country

 * sqlite:///northwind.sqlite3
Done.

[('Argentina', 3, 0),
 ('Australia', 0, 2),
 ('Austria', 2, 0),
 ('Belgium', 2, 0),
 ('Brazil', 9, 1),
 ('Canada', 3, 2),
 ('Denmark', 2, 1),
 ('Finland', 2, 1),
 ('France', 11, 3),
 ('Germany', 11, 3),
 ('Ireland', 1, 0),
 ('Italy', 3, 2),
 ('Japan', 0, 2),
 ('Mexico', 5, 0),
 ('Netherlands', 0, 1),
 ('Norway', 1, 1),
 ('Poland', 1, 0),
 ('Portugal', 2, 0),
 ('Singapore', 0, 1),
 ('Spain', 5, 1),
 ('Sweden', 2, 2),
 ('Switzerland', 2, 0),
 ('UK', 7, 2),
 ('USA', 13, 4),
 ('Venezuela', 4, 0)]